/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url(../img/nuage.png);
}

nav {
  display: flex;
  justify-content: space-between;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  color: #0500ff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.dates-acceuil {
  color: #0500ff;
  text-align: right;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 78px 91px;
}

h1 {
  color: #0500ff;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 48px 0px 0px 78px;
}

.restaurant-conceptuel {
  color: #0500ff;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 78px 91px;
}

.acceuil-rectangle {
  border: 1px solid #0500ff;
  background: var(--bleu-ciel, #def3fa);
}

.navigation-total {
  border: 1px solid #0500ff;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  background-image: url(../img/nuage.png);
  padding: 78px 91px;
}

.citation-total {
  border: 1px solid #0500ff;
  background: var(--bleu-ciel, #def3fa);
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  padding: 150px 90px;
}

.carte-total {
  border: 1px solid #0500ff;
  background: var(--bleu-lctrique, #0500ff);
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 65px 0px;
}

h3 {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 150px 230px 25px 213px;
}

.menu {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 230px 95px 213px;
}

.cdls {
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.plus {
  border-radius: 60px 60px 60px 60px;
  border: 1px solid #0500ff;
  background: #fff;
  color: #0500ff;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 30px 30px 30px 30px;
}

.plus-center {
  display: flex;
  justify-content: center;
}

.carre-bleu {
  background-color: #0500ff;
  height: 100%;
}

.bleu-clair {
  border: 1px solid #0500ff;
  background: #def3fa;
  height: 100%;
}

.reserver {
  border: 1px solid #0500ff;
  background: #def3fa;
  flex-shrink: 0;
  color: #0500ff;
  text-align: center;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 50px;
}

.horaire-calendrier {
  border: 1px solid #0500ff;
  background: #def3fa;
  color: #0500ff;
  text-align: center;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 50px;
}

.contact-en-bas {
  color: #0500ff;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.chemin {
  color: #0500ff;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mail {
  color: #0500ff;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.logo {
  color: #0500ff;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-total {
  fill: #def3fa;
  stroke-width: 1px;
  stroke: #0500ff;
}

.ensemble {
  fill: #def3fa;
  stroke-width: 1px;
  stroke: #0500ff;
}
